body {
  background-color: #fcfcfc;
  padding-top: 3rem;
}

#page-header .jumbotron {
  background-color: #fff;
  max-height: 18rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  margin-bottom: 1rem;
}

#conocenos-img {
  padding-right: 0.5rem;
}

#logo-area img {
  display: block;
  margin: auto;
  max-height: 15rem;
}

@media only screen and (min-width: 1440px) {
  #logo-area img {
    display: block;
    margin: auto;
    max-height: 15rem;
    margin-top: -1.7rem;
  }
}

@media only screen and (min-width: 2560px) {
  #logo-area img {
    display: block;
    margin: auto;
    max-height: 15rem;
    margin-top: -2.5rem;
  }
}

.carousel-item img {
  max-height: 24rem;
  max-width: 54rem;
  display: block;
  margin: auto;
}

.slogan img {
  margin-top: -32px !important;
  display: block;
  margin: auto;
  z-index: 0;
}

#info_cards {
  margin-bottom: 3rem;
}

#info_cards .card {
  margin-top: 1rem !important;
}

.hands-vid {
  text-align: center;
}

.hands-vid iframe {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .hands-vid iframe {
    height: 215px;
  }
}

.personal .card {
  margin: auto;
  margin-bottom: 1rem;
}

.personal .card .card-body {
  min-height: 7.5rem;
}