html {
  font-size: 22px;
} 
body {
  background-color: #fcfcfc;
  padding-top: 3rem;
}

#page-header .jumbotron{
  background-color: #fff;
  max-height: 18rem;
}

.card {
  margin-bottom: 1rem;
}

#conocenos-img {
  padding-right: 0.5rem 
}

#logo-area img {
  display: block;
  margin: auto;
  max-height: 15rem;
  margin-top: -2rem;
}